@import url("https://fonts.googleapis.com/css2?family=Poppins");

.destaques-text {
  color: #626262;
  font-family: 'Poppins', sans-serif;
  /* font-size: 12px; */
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  margin-top: 26px;
  margin-left: 33px;
  margin-bottom: 26px;
}
